input[type="checkbox"] {
  background-color: green;
  border-radius: 5px;
  padding: 10px;
}
.checkbox {
  transform: scale(1.3);
  margin-right: 10px;
  accent-color: var(--purple) !important;
}
.icon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  padding: 10px;
  fill: var(--purple);
  margin-top: -10px;
  margin-bottom: 5px;
}

.trashWrapper {
  display: inline;
  cursor: pointer;
}
.icon:hover {
  background-color: var(--purpleOpacity);
  border-radius: 100%;
}
.done {
  color: var(--purple);
  font-weight: bold;
}
.counter {
  margin-top: -5px;
  color: darkgrey;
  margin-left: 3px;
}
.btnAdd {
  background-color: var(--purple);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 12px;
  font-weight: bold;
  right: 0;
  top: -1px;
  cursor: pointer;
}
.input {
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid lightgray;
  flex-grow: 1;
}
.inputError,
.inputError:focus {
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid var(--pink);
  flex-grow: 1;
  outline: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.input:focus {
  border-color: var(--purple);
  outline: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.wrapperAdd {
  display: flex;
}
.listWrapper {
  padding: 0;
}
.list {
  list-style-type: none;
  line-height: 2.5;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  width: fit-content;
}
.list span {
  width: 320px;
  line-height: normal;
}
.btnYes {
  width: 30px;
  height: 20px;
  background-color: var(--purple);
}
.btnNon {
  width: 29px;
  height: 19px;
  border: 1px solid var(--purple);
  color: var(--purple);
}
.btnYes p {
  color: white;
}
.popup {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Opacité noire */
  display: flex;
  justify-content: center;
  align-items: center;
}
.popupContent {
  background-color: white;
  border-radius: 10px;
  width: 500px;
  height: 300px;
  position: relative;
  overflow: auto;
}
.close {
  position: absolute;
  top: 15px;
  left: 15px;
}
.close svg {
  width: 25px;
  height: 25px;
}
.btnWrapper {
  display: flex;
  justify-content: center;
}
.btnWrapper div {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 12px;
  font-weight: bold;
  margin: 10px;
}
.description {
  margin-top: 0%;
  margin-left: 10%;
  margin-right: 10%;
}
.description span {
  color: grey;
  font-style: italic;
}
.sure {
  margin-top: 4%;
  text-align: center;
}
.navigationWrapper {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 10px;
  padding-top: 10px;
}
.navigationWrapper button {
  padding: 10px;
  background-color: var(--pink);
  border: none;
  border-radius: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.navigationWrapper button svg {
  width: 15px;
  height: 13px;
  fill: white;
}
.navigationWrapper button:disabled,
.navigationWrapper button[disabled] {
  background-color: #cccccc;
  cursor: no-drop;
}
.errorMsg {
  color: var(--pink);
  line-height: 0.2;
  font-size: 11px;
}
