body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
:root {
  --darkBlue: #2d728f;
  --lightBlue: #3b8ea5;
  --lightYellow: #f5ee9e;
  --orange: #f49e4c;
  --red: rgba(171, 52, 40, 1);
  --redOpacity: rgba(171, 52, 40, 0.5);
}
