body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--black);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
:root {
  --yellow: #f4d373;
  --orange: #fb5607;
  --pink: #f9948e;
  --purple: #775da6;
  --blue: #83c0c9;
  --purpleOpacity: #eeebf4;
  --black: #242424;
  --background: #f9f9f9;
}
